@{ Layout = "_LayoutAdmin"; }
    <div class="p-1" style="max-width: 1000px; margin: 0 auto;">
        <div class="mt-2 mb-2" style="display: flex; justify-content: space-between;">
            <h3 class="">Пользователи</h3>
            <button class="btn btn-success">Новый пользователь</button>
        </div>
        <div class="table-responsive-sm" style=" ">
            <table class="table table-sm table-bordered text-center middle table-hover">
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Email</th>
                        <th>Дата регистрации</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Кириллов Михаил Александрович</td>
                        <td>mr.mishana-319@yandex.ru</td>
                        <td>21/10/2020</td>
                        <td>
                            <button class="mt-1 mb-1 btn btn-sm btn-info btn-block">Редактировать</button>
                            <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block">Удалить</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
