@model ParkStroiteleyMVC.Models.ModelPages.AboutModel;
<h1 class="text-center mt-5 mb-5">О парке строителей</h1>

<div class="container fullnew pb-4 pt-2">
    <div>
        @*<h4 class="mycol6 mb-4 mt-4 text-center">У нас есть все что нужно</h4>   ЗАГОЛОВОК, ЕСЛИ ПОНАДОБИТСЯ*@
        <div class="row">
            <div class="col">
                <div class="row p-3">
                    <p>
                        Парк Строителей место отдыха орчан, расположен на Песчаном озере к востоку от улицы Строителей Ленинского района. Создан решением горисполкома № 216 от 28.04.1950 года. Данным решением отводился участок земли площадью 7,5 гектара тресту "Южуралтяжстрой" у Песчаного озера за Орскими казачьими выселками, ведущими историю с 1870-х годов, переименованных в конце 1930-х годов в поселок Озёрный. До 1950 года на данном месте находились подсобные хозяйства хлебозавода (6,5 га) и школы №6 (1 га). Застройщика решением горисполкома обязывали обнести отведенную территорию металлической оградой. В целях улучшения культобслуживания трудящихся, решением горисполкома № 307 от 04.06.1950 года "Южуралтяжстрою" было определено место под строительство в поселке Озерном летней танцплощадки с эстрадой. В парке Строителей размещались аттракционы: "гигантские шаги", карусель, две танцплощадки с духовыми оркестрами, временный стадион, летняя детская дача, городской пионерский лагерь школ № 31 и 19. Работали торговые павильоны. В 1970-е годы проведены работы по очистке озера. Его углубили до 8 метров и закольцевали. В восточной части парка был создан пляж. На протяжении многих лет в парке Строителей проходили вечера отдыха трудящихся треста "Орскжилстрой". В 1978 началась реконструкция парка с высадкой хвойных деревьев и установкой новых аттракционов, укреплением материальной базы лодочной станции. В парке работал пневматический тир, лыжная база, были созданы первые в городе площадки для игры в большой теннис. В 1985 году навстречу XII Всемирному фестивалю молодежи на стадионе провели городской фестиваль под лозунгом "Фестиваль в Москве - фестиваль везде". В 1991 году в парке прошла последняя советская маевка трудящихся Ленинского района. Затем более 10 лет парк подвергался запустению. С 2005 года началось второе рождение парка. Открыто летнее кафе, восстанавливаются спортивные сооружения, восстановлены клумбы и ряд аттракционов, летняя эстрада. С 2006 года в парке вновь стали проводиться районные праздники. Имеется футбольное поле и гаревые беговые дорожки. Оборудован пляж и площадка для пляжного волейбола. В парке растут березы, клены, карагач и осина с тополями.
                    </p>
                    <p>
                        Сегодня парк Строителей является одним из излюбленных мест отдыха орчан – летом там действует самый популярный пляж города, зимой – каток и лыжная трасса. Но так было не всегда – за время своего существования парку приходилось переживать и очень непростые времена… В сегодняшней «старости» мы вспомним, как же он появился в нашем городе и как пришел к своему нынешнему состоянию.
                    </p>
                    <p>
                        Берег Песчаного озера стал популярным среди местных жителей еще в 1870-х годах. Прежде местность считалась небезопасной: в этих краях промышляли разбойничьи шайки, которые нападали на путников, едущих по Оренбургскому тракту. Не случайно деревянный мост через овраг, который находился в районе нынешней Второй садовой, назывался Красным – в народе считалось, что он обильно полит кровью ограбленных… Чтобы пресечь разбой, на берегу Песчаного основали небольшое селение – Казачьи выселки. Станичники были ребятами серьезными – они взяли шашки в руки и быстро извели криминал вокруг своего нового дома. Грабежи прекратились, и живописные места начали привлекать отдыхающих из Старого города – который тогда, конечно, старым еще не назывался, а был просто Орском.
                    </p>
                    <img style="margin: 0 auto;" src="~/images/about/image1.jpeg" />
                    <small class="text-center w-100 pb-3">Дореволюционный план Орской крепости и ее окрестностей</small>
                    <p>
                        После революции казачье поселение, конечно, ликвидировали, на его месте понастроили бараков – так появился рабочий поселок Озерный. Землю вокруг распахали и засадили овощами – там расположились приусадебные хозяйства хлебозавода и школы №6. Разумеется, жители окрестных домов плескались в озере и загорали на берегу, но никаких тенистых аллей там не было – собственно, и деревьев почти не имелось…
                    </p>
                    <img style="margin: 0 auto;" src="~/images/about/image2.jpeg" />
                    <small class="text-center w-100 pb-3">1970 год, фото Б. Клипиницера</small>
                    <p>
                        И только в 1950 году городские власти решили разбить на берегу озера настоящий парк. Связано это было с тем, что центр Орска был перенесен: как мы уже рассказывали, после очередного наводнения председатель горсовета и секретарь горкома партии решили отправить наиболее важные учреждения из вечно затопляемого Старого города в Новый. Но не в район площади Комсомольской (нынешний центр был тогда слабо освоенной окраиной), а туда, где начинается проспект Мира. Городская администрация (горсовет, горком, горисполком) разместилась в наспех перестроенном здании управления Локомотивстроя – позже, когда чиновники перебрались на Комсомольскую, там открыли ДК «Серп и молот», а сейчас в нем действует бизнес-центр.
                    </p>
                    <p>
                        Итак, к 1950 году большая часть населения Орска работала и проживала на европейском берегу Урала, а хорошего места для отдыха не было. Ездить через Урал в старый, дореволюционный еще, городской сад (сейчас – сад имени Шевченко) было долго и неудобно… И горсовет распорядился разбить новый городской парк у озера Песчаного. Трест «Южуралтяжстрой» высадил там деревья, проложил прогулочные дорожки, разбил стадион, построил летнюю эстраду и две танцплощадки. Для детей были установлены качели, карусели…
                    </p>
                    <img style="margin: 0 auto;" src="~/images/about/image3.jpeg" />
                    <small class="text-center w-100 pb-3">Письмо 1969 года</small>
                    <p>
                        Вскоре парк Строителей стал главным местом отдыха орчан – и оставался им на протяжении многих десятилетий. Даже Центральный парк культуры и отдыха, основанный в 1958 году, не смог перетянуть к себе толпы отдыхающих, привыкших отдыхать на берегу Песчаного. Хотя со временем стала обозначаться проблема: водоем измельчал и загрязнился. Вот что сообщалось в письме, датированном 1969 годом
                    </p>
                    <p>
                        В городе Орске основным местом проведения городских мероприятий и отдыха трудящихся является парк Строителей, к которому примыкает большой водоем – так называемое Песчаное озеро. К настоящему моменту из-за сброса промышленных стоков озеро сильно загрязнилось. В соответствии с решением Орского исполкома… за счет долевого участия предприятий города, предусматривается очистка Песчаного озера в пос. Строителей с привлечением специализированной организации – Уралсибгидромеханизации…
                    </p>
                    <p>
                        В 1970 году работы провели: озеро существенно углубили и к тому же «закольцевали», превратив парк в остров…
                    </p>
                    <p>
                        В 1985 году в парке проводились городские торжества, приуроченные ко Всемирному фестивалю молодежи и студентов, в 1987 его переименовали: название «парк Строителей» сменили на более длинное и довольно нелепое: «парк имени 70-летия Октября». К 90-м годам он подошел, сохранив популярность… А потом его чуть не загубили «рыночные реформы».
                    </p>
                    <img style="margin: 0 auto;" src="~/images/about/image4.jpeg" />
                    <small class="text-center w-100 pb-3">Апрель 1993 года – от парка уже мало что осталось</small>
                    <p>
                        В начале 1991 году парк взяли в управление коммерсанты. Малое предприятие «Путь» должно было содержать этот объект, заниматься уборкой, озеленением и так далее – а взамен получать прибыль от продажи билетов на аттракционы, от продажи всякой всячины отдыхающим и т.д. Вроде бы неплохой выход (все равно предприятия, которые раньше занимались парком, сбросили с себя этот балласт), но вышло не так, как задумывалось. Ушлые «бизнесмены» быстро сообразили, что дело это не сильно прибыльное: пока еще пойдут в кассу деньги, пока «отобьются» затраты… Поэтому они быстренько разбазарили советское оборудование, накопленное за годы работы парка, и исчезли, оставив после себя унылый пустырь. Орчане, которые тогда еще только начали понимать, что капитализм принес им не только джинсы с жвачками, но и много всего неприятного, были поражены. Вот как это описывалось в газете «Орская хроника»
                    </p>
                    <p>
                        Сегодня парк находится в плачевном состоянии по причине бесхозности, наступившей после того, как этот парк был сдан администрацией Ленинского района в аренду малому предприятию «Путь». На территории парка современные варвары разрушили все, что можно было разрушить и сломать. Виновных прокуратура ищет уже полгода и вряд ли найдет по причине безграмотно и безответственно составленного договора аренды парка.
                    </p>
                    <p>
                        Тогда же, в 1993 году, руководитель отдела культуры местной администрации потребовал принять парк на баланс города – иначе, считал он, этот уникальный объект может быть безвозвратно потерян.
                    </p>
                    <p>
                        У города много проблем, и до культуры руки не доходят, но отдел культуры выражает надежду на понимание и поддержку… На данный момент М.П. «Путь» самоликвидировалось, и руководителей нет в городе. Пока правоохранительные органы будут заниматься этим делом, пока привлекут к ответственности, пройдет время. Поэтому необходимо сейчас заняться восстановительными работами в парке.
                    </p>
                    <p>
                        К этому же письму предлагалась примерная смета: восстановить здание павильона, стадион, приобрести спортинвентарь, отремонтировать карусели, нанять обслуживающий персонал... На все про все было необходимо, по самым скромным подсчетам, 5,6 млн рублей – приличные по тем временам деньги.
                    </p>
                    <img style="margin: 0 auto;" src="~/images/about/image5.jpeg" />
                    <small class="text-center w-100 pb-3">Таким обновленный парк видел начальник отдела культуры в 1993 году. Правда, планы эти не были осуществлены</small>
                    <p>
                        Интересно, что свою помощь тогда предложили казаки. Это движение в Орске только зарождалось, но было полно наполеоновских планов – и по воспитанию молодежи, и по участию в культурно-спортивной жизни города, и по ведению бизнеса… Станичники как раз подыскивали подходящую базу и для того, и для другого, и для третьего – и сочли, что парк им вполне подойдет. Вот какое письмо атаман прислал в городскую администрацию
                    </p>
                    <p>
                        В июне 1992 года в Орске была образована общественная организация по возрождению казачества – станица «Орская»… В настоящее время перед правлением станицы стоит задача по патриотическому и интернациональному воспитанию казаков, спортивно-массовой работе среди молодежи с целью подготовки ее для службы в Вооруженных силах РФ и другие вопросы. Для проведения такой работы необходима база, такой базой, по мнению казаков, мог бы стать парк Строителей.
                    </p>
                    <p>
                        И они выдвинули свои условия: 17 казаков станут охранять парк, за это будут получать зарплату, а к тому же получат в безвозмездное пользование все спортивные объекты и смогут бесплатно размещать на территории свои торговые точки. В общем, казаки оказались не промах.
                    </p>
                    <img style="margin: 0 auto;" src="~/images/about/image6.jpeg" />
                    <small class="text-center w-100 pb-3">Казаки предложили свои услуги</small>
                    <p>
                        Но тогда решить проблему так и не удалось – у муниципалитета находились другие, более важные, вопросы, которые требовалось решать незамедлительно. А парк все дичал, зарастал мусором, превращался в опасную территорию, где даже среди бела дня лучше было не показываться. Только в 2005 году там начали наводить порядок – и сегодня этот процесс еще продолжается…
                    </p>
                    <p>
                        Благоустройство парка ведется в три этапа. Первый завершили в ноябре  2018 года.
                    </p>
                    <p>
                        В ходе реконструкции парка Строителей в 2019 году в рамках национального проекта «Жилье и городская среда» обустроили пешеходную трассу длиной более двух километров. Она включает в себя велосипедную и беговую дорожки. Вся трасса освещена.
                    </p>
                    <p>
                        Новая свадебная зона включает в себя ротонду, балкон, арт-объекты и предназначена для проведения выездных регистраций и фотографирования. Пляжная зона стала многофункциональной. Там появились деревянные настилы для лежаков и кабинки для переодевания. Детская игровая зона, площадка для пляжного волейбола, скейтборда и паркура — еще новые места для развлечения в парке. Для проведения культурно-массовых мероприятий обновили стадион.
                    </p>
                    <p>
                        Также здесь за счет деревянных настилов планируют расширить пляжную зону у воды. На пирсе появится причал для катамаранов.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>